* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     /* font-family: 'segoe ui'; */
     font-family: 'Open Sans', sans-serif;
}

.nav {
     height: 60px;
     background-color: white;
     width: 100%;
     position: sticky;
     padding: 0 20px;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.155);
}

.nav-title {
     display: inline-block;
     font-size: 25px;
     padding: 10px 10px 5px 10px;
     font-weight: 600;
}

.name {
     height: 45px;
}

.name:hover {
     animation: zoom 3s infinite;
     cursor: pointer;    
}

@keyframes zoom {
     0% {
          transform: scale(1);
     }

     50% {
          transform: scale(1.1);
     }

     100% {
          transform: scale(1);
     }
}

.nav>.nav-header {
     display: inline;
}

.nav>.nav-btn {
     display: none;
}

.nav>.nav-links {
     display: inline;
     float: right;
     font-size: 18px;
     padding: 6px;
}

.nav>.nav-links>a {
     display: inline-block;
     padding: 15px;
     text-decoration: none;
     text-transform: uppercase;
     font-weight: 600;
     color: black;
}

.nav>.nav-links>a:hover {
     cursor: pointer;
     box-shadow: 0 4px #2554dfa0;
     transition: .3s;
     padding-bottom: 3px;
     border-radius: 5px;
}

.nav>#nav-check {
     display: none;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ GLOBAL ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
h2 {
     color: rgb(0, 153, 255);
     font-size: 30px;
     font-weight: 500;
     text-transform: uppercase;
     letter-spacing: 1px;
}

.line {
     width: 5%;
     height: 5px;
     background-color: rgb(0, 153, 255);
     margin-bottom: 20px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Scroll Bar ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Smooth Scroll Bar */

::-webkit-scrollbar {
     width: 12px;
     background-color: rgba(0, 153, 255, 0.271);
}

::-webkit-scrollbar-thumb {
     border-radius: 10px;
     background: linear-gradient(transparent, grey);

}

::-webkit-scrollbar-thumb:hover {
     background: linear-gradient(transparent, rgb(0, 153, 255));
}

/* FOr FA-faa icon */
.hide {
     display: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  MAIN   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Intro */

.introduction {
     height: 100vh;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row-reverse;
}

.leftintro {
     width: 50%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;

}

.rightintro {
     width: 50%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

.rightintro img {
     width: 70%;
     object-fit: cover;
}

.btn {
     background-color: rgb(0, 153, 255);
     color: #fff;
     padding: 10px 30px;
     border-radius: 5px;
     text-decoration: none;
     font-size: 18px;
     text-transform: uppercase;
     letter-spacing: 1px;
     margin-top: 20px;
     box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
     outline: none;
}

.btn:hover {
     background-color: #fff;
     color: rgb(0, 153, 255);
     transition: all 0.25s ease-in-out;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
     outline: none;
     border: none;
}

.name {
     color: rgb(0, 0, 0);
     font-size: 45px;
     font-weight: 600;
     text-transform: uppercase;
}

.name:hover {
     color: rgb(0, 153, 255);
     transition: all 0.3s ease-in;
     text-shadow: 1px 1px black;
}

/* EDUCATION */

.education {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin-bottom: 20px;
}

.edu {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     padding: 20px;
}

.eduleft {
     float: left;
     background-color: #fff;
     padding: 20px;
     border-radius: 60px;
     margin-right: 20px;
}

.eduleft img {
     width: 150px;
     height: 150px;
     border-radius: 50%;
     box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
     transition: all 0.25s ease-in-out;
}

#pulogo:hover {
     transform: scale(1.1);
}

.eduright {
     float: right;
     background-color: #fff;
     display: flex;
     box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
     border-radius: 30px;
     flex-direction: column;

}

.clgname {
     font-size: 20px;
     font-weight: 600;
     letter-spacing: 1px;
     padding: 15px;
     background-color: rgb(209, 208, 208);
     border-top-left-radius: 30px;
     border-top-right-radius: 30px;

}

.lef {
     float: left;
}

.clg {
     letter-spacing: 1px;
     text-transform: uppercase;
     font-size: 25px;
}

.rig {
     float: right;
}

.info {
     padding: 15px;
}

.info p {
     padding: 5px;
     font-size: 15px;
     font-weight: 500;
     letter-spacing: 1px;
     margin: 3px;
}

/* Certifications  Sections*/

.certificate {
     width: 100%;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

.certi {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     flex-wrap: wrap;
}

.certificate-item {
     width: 15%;
     margin: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     border-radius: 18px;
     box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.certificate-item img {
     width: 100%;
     border-top-left-radius: 18px;
     border-top-right-radius: 18px;
     box-shadow: 0 8px 6px -6px rgb(141, 140, 140);
}

.certificate-item img:hover {
     box-shadow: 0 8px 6px -6px rgb(0, 153, 255);
}

.certificate-info {
     padding: 15px;
}

.course-name {
     font-size: 18px;
     font-weight: 500;
     text-align: center;
}

.provider {
     font-size: 16px;
     text-align: center;
     font-weight: 400;
     color: rgb(102, 101, 98);
}

/* Experience */

.experience {
     width: 100%;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

.experience-item {
     width: 80%;
     border-radius: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding: 20px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
     margin: 10px;
}

.experience-item:hover {
     box-shadow: 1px 1px 20px rgb(0, 153, 255);
}

.experience-item h3 {
     color: rgb(0, 153, 255);
     font-size: 26px;
     font-weight: 600;
     text-transform: uppercase;
     letter-spacing: 1px;
}

h2 {
     color: rgb(0, 153, 255);
     font-size: 35px;
     font-weight: 600;
     text-transform: uppercase;
     letter-spacing: 1px;
}

.experience-item h4 {
     font-size: 20px;
     font-weight: 500;
     font-weight: bold;
     letter-spacing: 1px;
     margin-bottom: 20px;
}

.experience-item p {
     font-size: 18px;
     margin: 2px;
}

/* Projects */

.projects {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

.project-item {
     width: 80%;
     border-radius: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #fff;
     flex-direction: row;
     padding: 15px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
     margin: 10px;
}

.project-item:hover {
     box-shadow: 1px 1px 20px rgb(0, 153, 255);
}

.left {
     width: 50%;
}

.left img {
     width: 100%;
     border-radius: 15px;
     box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.left img:hover {
     transform: rotate(3deg);
     transition: all 0.3s ease-in-out;
}

.right {
     width: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding: 20px;
}

.right h3 {
     color: rgb(0, 153, 255);
     font-size: 28px;
     font-weight: 600;
     text-transform: uppercase;
}

.right p {
     color: #000;
     font-size: 18px;
     font-weight: 500;
}

.tags {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     margin: 20px;
}

.tags span {
     background-color: rgba(255, 255, 0, 0.504);
     padding: 5px 20px;
     border-radius: 25px;
     font-size: 15px;
     font-weight: 500;
     text-transform: uppercase;
     letter-spacing: 1px;
     margin: 5px;
     outline: none;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn2 {
     background-color: rgba(55, 0, 255, 0.853);
     color: #fff;
     padding: 8px 20px;
     border-radius: 5px;
     text-decoration: none;
     font-size: 18px;
     font-weight: 500;
     text-transform: uppercase;
     letter-spacing: 1px;
     margin-top: 20px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
     outline: none;
}

.btn2:hover {
     background-color: #fff;
     color: rgba(55, 0, 255, 0.853);
     transition: all 0.3s ease-in;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
     outline: none;
     border: none;
}

/* Techstacks */

.stacks {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding: 30px;
}

.techstack {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     align-items: center;
     flex-direction: row;
}

.stack {
     width: 8%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding: 20px;
     border-radius: 29px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
     margin: 10px;
}

.stack img {
     width: 50px;
     height: 50px;
     margin: 10px;
}

.stack:hover {
     transform: scale(1.1);
     transition: all 0.3s ease-in-out;
     border-bottom: 3px solid black;
     border-top: 3px solid black;
}

/* Contact Us */

.contact {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin-top: 25px;
}


.getintouch {
     padding: 20px;
}

.iconbtn {
     padding: 10px;
     width: 100px;
     height: 90px;
     ;
     text-decoration: none;
     font-size: 30px;
     margin: 10px;
     color: #000;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.iconbtn:hover {
     background-color: rgb(0, 153, 255);
     color: white;
     transition: all 0.2s ease-in;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
     outline: none;
     border: none;
}

/* Footer */
footer {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 10px;
}

footer p {
     font-size: 15px;
     font-weight: 500;
     text-shadow: 1px 1px 25px #000000;
}

/* Social Media Icon */

.socialicon {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     color: #fff;
     margin-top: 20px;
     margin-bottom: 20px;
}

.socialicon a {
     text-decoration: none;
     color: #fff;
     font-size: 20px;
     margin: 6px;
}

.socialicon i {
     width: 40px;
     height: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     font-size: 24px;
     border-radius: 50%;
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.463);
     color: #fff;
}

.linkedin {
     background-color: #0e76a8;
     color: #fff;
}

.github {
     background-color: #333;
}

.google {
     background-color: #ea4335;
}

.twitter {
     background-color: #1da1f2;
}

.instagram {
     background-color: #E4405F;
}

.facebook {
     background-color: #3b5998;
}

/*Hover Transition*/
.twitter :hover,
.google :hover,
.gitlab :hover,
.github :hover,
.linkedin :hover,
.facebook :hover,
.instagram :hover {
     background-color: black;
     transition: 0.3s ease-in;
}

/* ~~~~~~~~~~~~~~~~~     Media Query    ~~~~~~~~~~~~~~~~~ */

@media (max-width:700px) {
     .stack {
          width: 20%;
     }
}

@media (max-width:945px) {
     .nav>.nav-btn {
          display: inline-block;
          position: absolute;
          right: 0px;
          top: 0px;
     }

     .nav>.nav-btn>label {
          display: inline-block;
          width: 50px;
          height: 50px;
          padding: 13px;
     }

     .nav>.nav-btn>label>span {
          display: block;
          width: 25px;
          height: 3px;
     }

     .nav>.nav-links {
          position: absolute;
          display: block;
          width: 100%;
          height: 0px;
          transition: all 0.3s ease-in;
          overflow-y: hidden;
          top: 50px;
          left: 0px;
     }

     .nav>.nav-links>a {
          display: block;
          width: 100%;
     }

     .nav>#nav-check:not(:checked)~.nav-links {
          height: 0px;
     }

     .nav>#nav-check:checked~.nav-links {
          background-color: rgb(255, 255, 255);
          height: calc(500px - 40px);
          overflow-y: auto;
     }

     .nav-btn span {
          background-color: black;
          margin: 5px 0px;
     }

     /* Intro */
     .introduction {
          height: 100vh;
          flex-direction: column-reverse;
     }

     .leftintro {

          width: 100%;
          height: 100%;
     }

     .rightintro {
          height: 70%;
          width: 100%;
     }

     /* Education */
     .edu {
          flex-direction: column;
     }

     /* Certificate */
     .certificate {
          height: 100%;
     }

     .certificate-item {
          width: 40%;
          margin: 14px;
     }

     /* Experience */
     .experience-item {
          height: 100%;
     }

     /* Projects */
     .project-item {
          flex-direction: column;
     }

     .left {
          width: 100%;
     }

     .right {
          width: 100%;
     }

     /* Skills */
     .stack {
          width: 25%;
     }

     /* For Font Awesome icon */
     .hide {
          display: inline;
          color: #2553df;
     }
}